/* * {
  border: 1px dotted red;
} */


.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
  }

i {
  font-size: .7em;
}
a {
  color: limegreen;
}
html {
  height:100%;
}

body {
font-family: Futura, futura, helvetica, gill sans, sans-serif;
min-height:100vh;
z-index: 3;
}

main {
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  width: 100%;
  /* background-color: rgba(0, 255, 0, .5); */
}

header{
  background-color: black;
  color: white;
  top: 0;
  width: 100%;
  text-align: center;
  max-height: 10%;
}

h1{
  font-size: 2em;
  font-size: 8vw;
  margin: 0px;
  background-color: black;
  width: 100%;
}

img {
  object-fit: cover;
  width: 100%;
}

section {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

#image-zone {
  height: 50vh;
}

/* #image-zone > img {
  object-fit: contain;
  width: 100%;
} */

#guess-zone {
  margin-top: 20vh;
}

form {
  background-color: rgba(0, 0, 0, .9);
  width: fit-content;
  color: white;
;}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1em;
}